
/*global*/
html {
  font-size: 16px;
  body {
    display: flex;
    flex-direction: column;
    #header {
      margin: 0;
      padding: 0;
      position: fixed;
      height: 4rem;
      width: 100%;
      display: flex;
      justify-content: center;
      box-shadow: 0 1px 4px 1px #767679;
      background-color: white;
      .devider {
        width: 75rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        .main-logo {
          display: flex;
          flex-direction: row;
          .logo {
            width: 11%;
            height: auto;
            margin-right: 0.5rem;
            img {
              width: 100%;
              height: 100%;
            }
          }
          .myName {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: 'Fenix', serif;
            h2 {
              text-transform: uppercase;
              font-size: 1.2rem;
              font-weight: bold;
              letter-spacing: 1px;
            }
            h3 {
              text-transform: uppercase;
              font-size: 1.5rem;
              letter-spacing: 3px;
            }
          }
        }
        #main-nav {
          font-family: 'Share', cursive;
          ul {
            li{
              display: inline-block;
              font-size: 1.2rem;
              margin: 0 1.25rem;
              a{
                padding-bottom: 1rem;
                border-bottom: 3px solid white;
                text-decoration: none;
                color: #000000;
                &:hover {
                  border-bottom: 3px solid deepskyblue;
                }
              }
            }
          }
        } /* end #main-nav  */
      } /* end devider */
    } /* end #header */
    #greeting {
      margin-top: 4rem;
      background-image: url("../img/background/sketched-low.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 45rem;
      display: flex;
      justify-content: center;
      .devider {
        width: 75rem;
        margin-top: 10rem;
        margin-left: 3rem;
        .credo {
          font-family: 'Exo', sans-serif;
          background-color: black;
          h2 {
            font-size: 4.9rem;
            color: white;
            display: inline-block;
          }
          h3 {
            font-size: 1.9rem;
            color: white;
            display: inline-block;
          }
        }
      }
    }
  } /* end body */
} /* end html */
