/* Global */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #d1d1d1;
}
.font-size-2 {
  text-align: center;
  font-size: 2.5rem;
}

.uppercase {
  text-transform: uppercase;
}

.direction-row {
  flex-direction: row;
}

.direction-column {
  flex-direction: column;
}

.width-23 {
  width: 22%;
}

.width-40 {
  width: 40%;
}

/* Header*/
#top-header {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  max-width: 75rem;
  width: 100%;
  height: 5rem;
  justify-content: center;
  border-bottom: 2px solid brown;
  background-color: #d1d1d1;

}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-menu .logo {
  display: flex;
  flex-direction: row;
}

.main-menu .logo .main-logo {
  width: 15%;
  height: auto;
}

.main-menu .logo .main-logo img {
  width: 88%;
  height: 88%;
  padding: 0;
  margin: 0;
}

.main-menu .logo ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Fenix', serif;
  font-weight: bold;
}

.main-menu .logo ul li:first-child {
  font-size: 2rem;
}

.main-menu .logo ul li:last-child {
  color: brown;
  font-size: 2.85rem;
}

.main-menu .logo img {
  width: 2.5rem;
  height: auto;
}

.main-menu .menu {
  display: flex;
  align-items: center;
}

.main-menu .menu ul {
  display: flex;
}

.main-menu .menu ul li {
  margin: 0 0.5rem;
  background-color: black;
  padding: 0.5rem 0.75rem;
  border-radius: 5px
}

.main-menu .menu ul li:hover {
  background-color: maroon;
}

.main-menu .menu ul li:active {
  background-color: brown;
}
.main-menu .menu ul li a{
  color: white;
  text-decoration: none;
  font-family: 'Share', cursive;
  font-size: 1.1rem;
}

/* main */
main {
  margin-top: 1rem;
  max-width: 75rem;
  width: 100%;
}

#mySpecimens, #whatIcan, #mySkills, #coursesAndcertificates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}

#mySpecimens h2, #whatIcan h2, #mySkills h2, #coursesAndcertificates h2 {
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/* My Specimens */
#mySpecimens {
  background-color: #18001A;
  box-shadow: 0 0 20px rgb(0,0,0);
  border-radius: 10px;
  width: 100%;
}

#mySpecimens h2 {
  color: #BF6EE0;

}

#mySpecimens .main-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #290424;
}

#mySpecimens .main-section .block-quote {
  width: 100%;
  display: flex;
  flex-direction: row;
}

#mySpecimens .main-section .block-quote .quote {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mySpecimens .main-section .block-quote .quote ul {
  text-transform: uppercase;
  color: #BF6EE0;
  font-family: 'Exo', sans-serif;
  text-align: center;
  padding: 1.7rem;
  border: 1px solid #BF6EE0;
  box-shadow: 0 0 25px rgb(0,0,0);
}

#mySpecimens .main-section .block-quote .quote ul li:first-child {
  font-size: 4.9rem;
}

#mySpecimens .main-section .block-quote .quote ul li:last-child {
  font-size: 1.9rem;
}

#mySpecimens .main-section .block-quote .aside-qoute {
  width: 40%;
}

#mySpecimens .main-section .block-quote-bottom-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
}

.item-conteiner {
  margin: 0.5rem;
  display: flex;
  align-items: center;
  border: 1px solid #7F01B6;
  border-radius: 5px;
  box-shadow: 0 0 25px rgb(0,0,0);
}

.item-conteiner .image {
  height: auto;
  margin: 0.5rem;
}

.item-conteiner .image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.item-conteiner .discription {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.item-conteiner .discription h3 {
  font-size: 2rem;
  font-family: 'Barlow', sans-serif;
  text-transform: uppercase;
  color: #BF6EE0;
  text-align: center;
  margin: 0.5rem 0;
}

/* What I can */
#whatIcan {
  background-color: #082A5C;
  box-shadow: 0 0 20px rgb(0,0,0);
  border-radius: 10px;
}

#whatIcan h2 {
  color: #6bb9f0;
}

#whatIcan .double-block {
  width: 100%;
  display: flex;
  background-color: #265191;
}

#whatIcan .half-block {
  width: 37.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#whatIcan .wheel {
  background-color: #141414;
  width: 10rem;
  height: 10rem;
  border-radius: 5rem;
  color: #6bb9f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  margin: 1rem;
  box-shadow: 0 0 20px rgb(0,0,0);
}
#whatIcan .aside-wheel {
  font-family: 'Barlow', sans-serif;
  font-size: 2rem;
  width: 27.5rem;
}
#whatIcan .aside-wheel p {
  padding: 0.5rem;
  color: #6bb9f0;
}

/* My Scills */

/* Finished courses and certificates */

/* Footer */
#bottom-footer  {
  width: 100%;
  max-width: 75rem;
  font-family: 'Open Sans', sans-serif;
  margin-top: 2rem;
  background-color: brown;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  box-shadow: 0 0 20px rgb(0,0,0);
}

#bottom-footer ul {
  display: flex;
}

#bottom-footer ul li {
  margin: 0 1rem;
  color: white;
}
