@import "sass/helper/variables";
@import "sass/helper/mixins";
@import "sass/helper/placeholders";

html {
  font-size: 16px;
  body {
    display: flex;
    flex-direction: column;
    #header {
      margin: 0;
      padding: 0;
      position: fixed;
      z-index: 10;
      height: 4rem;
      width: 100%;
      display: flex;
      justify-content: center;
      box-shadow: 0 1px 4px 1px #767679;
      background-color: white;
      .devider {
        width: 75rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        #logoAnchor {
          text-decoration: none;
          color: black;
          width: 18rem;
          .main-logo {
            display: flex;
            flex-direction: row;
            width: auto;
            .logo {
              width: 13%;
              height: auto;
              margin-right: 0.5rem;
              margin-left: 0.5rem;
              img {
                width: 100%;
                height: 100%;
              }
            }
            .myName {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              font-family: 'Fenix', serif;
              h2 {
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: bold;
                letter-spacing: 1px;
              }
              h3 {
                text-transform: uppercase;
                font-size: 1.5rem;
                letter-spacing: 3px;
              }
            }
            @media only screen and (max-width: 650px) {
              .logo {
                margin-left: 1rem;
                width: 18%;
              }
              .myName {
                display: none;
              }
            }
          }
        } /* end a */
        #imgAnchor {
          display: none;
        }
        @media only screen and (max-width: 650px) {
          #logoAnchor {
            display: none;
          }

          #imgAnchor {
            display: inline-block;
            height: 2.5rem;
            width: 2.5rem;
            margin-left: 1rem;
            img {
              height: 100%;
              width: 100%;
            }
          }
        }

        #primaryMenu {
          font-family: 'Share', cursive;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          justify-content: flex-end;
          ul {
            li{
              display: inline-block;
              font-size: 1.2rem;
              margin: 0 1.25rem;
              a{
                padding-bottom: 1rem;
                border-bottom: 3px solid white;
                text-decoration: none;
                color: #000000;
                &:hover {
                  border-bottom: 3px solid deepskyblue;
                }
              }
            }
          } /* end .primaryMenu */
        } /* end #primaryMenu */
        #mobileMenu {
          display: none;
          justify-content: center;
          margin-bottom: 0.75rem;
          ul {
            li{
              display: inline-block;
              margin: 0 1.5rem;
              a {
                text-decoration: none;
                color: black;
              }
            }
          }
        } /* end mobileMenu */
        @media only screen and (max-width: 768px) {
          #primaryMenu {
            display: none;
          }
          #mobileMenu {
            display: flex;
          }
        }
      } /* end devider */
    } /* end #header */

    #greeting {
      margin-top: 4rem;
      background-image: url("../img/background/sketched-low.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 35rem;
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 100%;
      border-bottom: 1px solid grey;
      .color-filter {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 2;
        background-color: white;
        opacity: 0;
      }
      .content {
        grid-area: 1 / 1 / 2 / 2;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        .devider {
          width: 75rem;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          .credo {
            background-color: rgba(0, 0, 0, 0.7);
            font-family: 'Exo', sans-serif;
            width: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            box-sizing: border-box;
            padding: 2rem;
            border-radius: 5px;
            h2 {
              font-size: 5.35rem;
              color: white;
              display: inline-block;
              letter-spacing: 1px;
            }
            h3 {
              font-size: 1.9rem;
              color: white;
              display: inline-block;
              font-weight: bold;
              letter-spacing: 2px;
            }
            @media only screen and (max-width: 768px) {
              h2 {
                font-size: 3.5rem;
              }
              h3 {
                font-size: 1.18rem;
              }
            }
            @media only screen and (max-width: 540px) {
              h2 {
                font-size: 3rem;
              }
              h3 {
                font-size: 0.9rem;
              }
            }
            @media only screen and (max-width: 450px) {
              h2 {
                font-size: 2.45rem;
              }
              h3 {
                font-size: 0.77rem;
              }
            }
          } /* end .credo */
          @media only screen and (max-width: 450px) {
            .credo {
              padding: 1rem;
            }
          }
        } /* end .devider */
      } /* end .content */
    } /* end #greeting */

    #aboutMe {
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 1px 4px 1px #767679;
      .devider {
        width: 75rem;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
          #avatar {
            width: 7rem;
            height: 7rem;
            float: left;
            border-radius: 8px;
            border: 3px solid white;
            margin-right: 1rem;
          } /* end .avatar */
          margin-top: 3rem;
          margin-bottom: 3rem;
          width: 65%;
          font-family: 'Open Sans', sans-serif;
          line-height: 1.3;
          font-size: 1.3rem;
        }
        @media only screen and (max-width: 768px) {
          p {
            line-height: 1.2;
            font-size: 1.1rem;
          }
        }
      } /* end .devider */
    } /* end #aboutMe */

    #services {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid grey;
      .devider {
        width: 75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          text-align: center;
          margin-top: 5rem;
          font-family: 'Roboto', sans-serif;
          font-size: 3rem;
        }
        .scope {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          margin-top: 3rem;
          margin-bottom: 3rem;
          #responsiveWebPage {
            width: 30%;
            .skill-icon {
              @include skill-icon;
              .margin-05 {
                margin: 0 0.5rem;
              }
            }
            .skill-header {
              @include skill-header;
            }
            .skill-description {
              @include skill-description;
            }
          } /* end #responsiveWebPage */
          @media only screen and (max-width: 768px) {
            #responsiveWebPage {
              width: 60%;
              margin-bottom: 2.5rem;
              .skill-icon {
                font-size: 3.5rem;
              }
              .skill-header {
                font-size: 1.3rem;
              }
              .skill-description {
                font-size: 1rem;
              }
            }
          }
          #uxUiDesign {
            width: 30%;
            .skill-icon {
              @include skill-icon;
            }
            .skill-header {
              @include skill-header;
            }
            .skill-description {
              @include skill-description;
            }
          } /*end #uxUiDesign */
          @media only screen and (max-width: 768px) {
            #uxUiDesign {
              width: 60%;
              margin-bottom: 2.5rem;
              .skill-icon {
                font-size: 3.5rem;
              }
              .skill-header {
                font-size: 1.3rem;
              }
              .skill-description {
                font-size: 1rem;
              }
            }
          }
          #codeSkill {
            width: 30%;
            .skill-icon {
              @include skill-icon;
            }
            .skill-header {
              @include skill-header;
            }
            .skill-description {
              @include skill-description;
            }
          }
          @media only screen and (max-width: 768px) {
            #codeSkill {
              width: 60%;
              .skill-icon {
                font-size: 3.5rem;
              }
              .skill-header {
                font-size: 1.3rem;
              }
              .skill-description {
                font-size: 1rem;
              }
            }
          }
        } /* end .scope */
        @media only screen and (max-width: 730px) {
          .scope {
            flex-direction: column;
            justify-content: center;
            align-items: center;
          }
        }
      } /* end .devider */
    } /* end #whatICan */

    #project {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px solid grey;
      .devider {
        width: 75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        h2 {
          text-align: center;
          margin-top: 5rem;
          margin-bottom: 3rem;
          font-family: 'Roboto', sans-serif;
          font-size: 3rem;
        }
        .projectBox {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 100%;
          .tripleContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 100%;
            margin-bottom: 1rem;

            #projectOne {
              @include project('../img/project/1.jpg');
            }
            #projectTwo {
              @include project('../img/project/2.jpg');
            }
            #projectTree {
              @include project('../img/project/3.jpg');
            }
            @media only screen and (max-width: 1024px) {
              #projectOne {
                width: calc(20.625rem*1.9);
                height: calc(13.75rem*1.9);
                margin: 1.5rem 0;
              }
              #projectTwo {
                width: calc(20.625rem*1.9);
                height: calc(13.75rem*1.9);
                margin: 1.5rem 0;
              }
              #projectTree {
                width: calc(20.625rem*1.9);
                height: calc(13.75rem*1.9);
              }
            }
            @media only screen and (max-width: 650px) {
              #projectOne {
                width: calc(20.625rem*1.3);
                height: calc(13.75rem*1.3);
                margin: 1.5rem 0;
              }
              #projectTwo {
                width: calc(20.625rem*1.3);
                height: calc(13.75rem*1.3);
                margin: 1.5rem 0;
              }
              #projectTree {
                width: calc(20.625rem*1.3);
                height: calc(13.75rem*1.3);
              }
            }
            @media only screen and (max-width: 450px) {
              #projectOne {
                width: calc(20.625rem*0.8);
                height: calc(13.75rem*0.8);
                margin: 1.5rem 0;
              }
              #projectTwo {
                width: calc(20.625rem*0.8);
                height: calc(13.75rem*0.8);
                margin: 1.5rem 0;
              }
              #projectTree {
                width: calc(20.625rem*0.8);
                height: calc(13.75rem*0.8);
              }
            }
          } /* end .tripleContainer */
          @media only screen and (max-width: 1024px) {
            .tripleContainer {
              flex-direction: column;
            }
          }
          .tripleContainer{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            width: 100%;
            margin-bottom: 3rem;
            #projectFour {
              @include project('../img/project/4.jpg');
            }
            #projectFive {
              @include project('../img/project/5.jpg');
            }
            #projectSix {
              @include project('../img/project/6.jpg');
            }
            @media only screen and (max-width: 1024px) {
              #projectFour {
                width: calc(20.625rem*1.9);
                height: calc(13.75rem*1.9);
                margin: 1.5rem 0;
              }
              #projectFive  {
                width: calc(20.625rem*1.9);
                height: calc(13.75rem*1.9);
                margin: 1.5rem 0;
              }
              #projectSix {
                width: calc(20.625rem*1.9);
                height: calc(13.75rem*1.9);
                margin: 1.5rem 0;
              }
            }
            @media only screen and (max-width: 650px) {
              #projectFour {
                width: calc(20.625rem*1.3);
                height: calc(13.75rem*1.3);
                margin: 1.5rem 0;
              }
              #projectFive  {
                width: calc(20.625rem*1.3);
                height: calc(13.75rem*1.3);
                margin: 1.5rem 0;
              }
              #projectSix {
                width: calc(20.625rem*1.3);
                height: calc(13.75rem*1.3);
                margin: 1.5rem 0;
              }
            }
            @media only screen and (max-width: 450px) {
              #projectFour {
                width: calc(20.625rem*0.8);
                height: calc(13.75rem*0.8);
                margin: 1.5rem 0;
              }
              #projectFive  {
                width: calc(20.625rem*0.8);
                height: calc(13.75rem*0.8);
                margin: 1.5rem 0;
              }
              #projectSix {
                width: calc(20.625rem*0.8);
                height: calc(13.75rem*0.8);
                margin: 1.5rem 0;
              }
            }
          } /* end .tripleContainer */
          @media only screen and (max-width: 1024px) {
            .tripleContainer {
              flex-direction: column;
            }
          }
        } /* end .projectBox */
      } /* end .devider */
    } /* end #project */

    #contactMe {
      height: 20rem;
      background-color: #434345;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .contact {
        ul {
          li {
            display: inline-block;
            margin: 0 1rem;
            font-size: 1.2rem;
            color: #848488;
          }
          @media only screen and (max-width: 768px) {
            li {
              display: block;
              text-align: center;
              margin: 0.5rem 0;
            }
          }
          @media only screen and (max-width: 450px) {
            li {
              font-size: 1rem;
            }
          }
        }
      }
      .copyright {
        margin-top: 1.5rem;
        border-top: 1px solid #636366;
        p {
          padding: 1rem;
          font-size: 1.2rem;
          color: #848488;
        }
      }
      @media only screen and (max-width: 450px) {
        .copyright {
          p {
            font-size: 0.9rem;
          }
        }
      }
    } /* end footer */
    @media only screen and (max-width: 768px) {
      #contactMe {
        height: 15rem;
      }
    }
    @media only screen and (max-width: 450px) {
      #contactMe {
        height: 12rem;
      }
    }
  } /* end body */
} /* end html */
