/*global*/
html {
  font-size: 16px;
  /* end body */ }
  html body {
    display: flex;
    flex-direction: column;
    /* end #header */ }
    html body #header {
      margin: 0;
      padding: 0;
      position: fixed;
      height: 4rem;
      width: 100%;
      display: flex;
      justify-content: center;
      box-shadow: 0 1px 4px 1px #767679;
      background-color: white;
      /* end devider */ }
      html body #header .devider {
        width: 75rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* end #main-nav  */ }
        html body #header .devider .main-logo {
          display: flex;
          flex-direction: row; }
          html body #header .devider .main-logo .logo {
            width: 11%;
            height: auto;
            margin-right: 0.5rem; }
            html body #header .devider .main-logo .logo img {
              width: 100%;
              height: 100%; }
          html body #header .devider .main-logo .myName {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-family: 'Fenix', serif; }
            html body #header .devider .main-logo .myName h2 {
              text-transform: uppercase;
              font-size: 1.2rem;
              font-weight: bold;
              letter-spacing: 1px; }
            html body #header .devider .main-logo .myName h3 {
              text-transform: uppercase;
              font-size: 1.5rem;
              letter-spacing: 3px; }
        html body #header .devider #main-nav {
          font-family: 'Share', cursive; }
          html body #header .devider #main-nav ul li {
            display: inline-block;
            font-size: 1.2rem;
            margin: 0 1.25rem; }
            html body #header .devider #main-nav ul li a {
              padding-bottom: 1rem;
              border-bottom: 3px solid white;
              text-decoration: none;
              color: #000000; }
              html body #header .devider #main-nav ul li a:hover {
                border-bottom: 3px solid deepskyblue; }
    html body #greeting {
      margin-top: 4rem;
      background-image: url("../img/background/sketched-low.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 45rem;
      display: flex;
      justify-content: center; }
      html body #greeting .devider {
        width: 75rem;
        margin-top: 10rem;
        margin-left: 3rem; }
        html body #greeting .devider .credo {
          font-family: 'Exo', sans-serif;
          background-color: black; }
          html body #greeting .devider .credo h2 {
            font-size: 4.9rem;
            color: white;
            display: inline-block; }
          html body #greeting .devider .credo h3 {
            font-size: 1.9rem;
            color: white;
            display: inline-block; }

/* end html */

/*# sourceMappingURL=style.css.map */
