#summary {
  margin-top: 5rem;
  margin-bottom: 1rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  #summary .devider {
    width: 75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    #summary .devider .left {
      background-color: #152B39;
      width: 40%; }
      #summary .devider .left #mainFoto {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; }
        #summary .devider .left #mainFoto .foto {
          width: 50%;
          height: 50%;
          margin: 20px 0;
          position: relative; }
          #summary .devider .left #mainFoto .foto img {
            width: 100%;
            height: 100%; }
        #summary .devider .left #mainFoto h2 {
          text-align: center;
          color: white;
          font-size: 1.8rem;
          font-family: 'Exo', sans-serif; }
          #summary .devider .left #mainFoto h2 span {
            font-weight: bold; }
        #summary .devider .left #mainFoto h3 {
          text-align: center;
          color: white;
          font-size: 1.5rem;
          font-family: 'Exo', sans-serif;
          margin-top: 0.5rem; }
      #summary .devider .left #profile {
        margin: 2rem 3rem;
        margin-top: 4rem; }
        #summary .devider .left #profile .boxIconHeader {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center; }
          #summary .devider .left #profile .boxIconHeader .boxIcon {
            color: #152B39;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 7px; }
          #summary .devider .left #profile .boxIconHeader h3 {
            margin-left: 1rem;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 1.9rem; }
        #summary .devider .left #profile p {
          color: white;
          margin-left: 3.5rem;
          font-family: 'Open Sans', sans-serif;
          line-height: 1.4;
          font-size: 0.9rem; }
      #summary .devider .left #contact {
        margin: 2rem 3rem; }
        #summary .devider .left #contact .boxIconHeader {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center; }
          #summary .devider .left #contact .boxIconHeader .boxIcon {
            color: #152B39;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 7px; }
          #summary .devider .left #contact .boxIconHeader h3 {
            margin-left: 1rem;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 1.9rem; }
        #summary .devider .left #contact .boxIconHeaderChildContent {
          margin-left: 3.5rem; }
          #summary .devider .left #contact .boxIconHeaderChildContent .boxIconHeaderChild {
            display: flex;
            flex-direction: row;
            align-items: center; }
            #summary .devider .left #contact .boxIconHeaderChildContent .boxIconHeaderChild .boxIcon {
              color: white; }
            #summary .devider .left #contact .boxIconHeaderChildContent .boxIconHeaderChild ul {
              margin: 0.7rem 0;
              margin-left: 0.7rem;
              color: white; }
              #summary .devider .left #contact .boxIconHeaderChildContent .boxIconHeaderChild ul li {
                font-family: 'Open Sans', sans-serif;
                line-height: 1.4;
                font-size: 0.9rem; }
      #summary .devider .left #professionalSkills {
        margin: 2rem 3rem; }
        #summary .devider .left #professionalSkills .boxIconHeader {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center; }
          #summary .devider .left #professionalSkills .boxIconHeader .boxIcon {
            color: #152B39;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 7px; }
          #summary .devider .left #professionalSkills .boxIconHeader h3 {
            margin-left: 1rem;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 1.9rem; }
        #summary .devider .left #professionalSkills ul {
          list-style-type: disc;
          color: white; }
          #summary .devider .left #professionalSkills ul li {
            margin-left: 4.5rem;
            font-family: 'Open Sans', sans-serif;
            line-height: 1.4;
            font-size: 0.9rem;
            margin-bottom: 0.5rem; }
            #summary .devider .left #professionalSkills ul li span {
              margin-left: 0.5rem; }
    #summary .devider .right {
      margin-top: 2rem;
      width: 60%;
      height: 600px; }
      #summary .devider .right #workExperience {
        margin: 1rem 3rem;
        margin-bottom: 3rem; }
        #summary .devider .right #workExperience .boxIconHeader {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center; }
          #summary .devider .right #workExperience .boxIconHeader .boxIcon {
            color: white;
            background-color: #152B39;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 7px; }
          #summary .devider .right #workExperience .boxIconHeader h3 {
            margin-left: 1rem;
            color: #152B39;
            font-family: 'Roboto', sans-serif;
            font-size: 1.9rem; }
        #summary .devider .right #workExperience ul {
          margin-left: 5rem;
          margin-bottom: 2rem;
          font-family: 'Open Sans', sans-serif;
          color: #152B39; }
          #summary .devider .right #workExperience ul li {
            margin: 0.3rem 0; }
            #summary .devider .right #workExperience ul li span {
              font-weight: normal;
              font-size: 1rem;
              color: DimGray; }
          #summary .devider .right #workExperience ul li:first-child {
            list-style-type: disc;
            font-weight: bold;
            font-size: 1.2rem; }
          #summary .devider .right #workExperience ul li:nth-child(2) {
            font-weight: normal;
            font-size: 0.9rem;
            font-weight: bold; }
          #summary .devider .right #workExperience ul li:nth-child(3) {
            color: DimGray;
            font-size: 0.9rem; }
      #summary .devider .right #personalSkills {
        margin: 1rem 3rem;
        margin-bottom: 3rem; }
        #summary .devider .right #personalSkills .boxIconHeader {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center; }
          #summary .devider .right #personalSkills .boxIconHeader .boxIcon {
            color: white;
            background-color: #152B39;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 7px; }
          #summary .devider .right #personalSkills .boxIconHeader h3 {
            margin-left: 1rem;
            color: #152B39;
            font-family: 'Roboto', sans-serif;
            font-size: 1.9rem; }
        #summary .devider .right #personalSkills ul {
          margin-left: 4.5rem; }
      #summary .devider .right #education {
        margin: 1rem 3rem;
        margin-bottom: 3rem; }
        #summary .devider .right #education .boxIconHeader {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center; }
          #summary .devider .right #education .boxIconHeader .boxIcon {
            color: white;
            background-color: #152B39;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 7px; }
          #summary .devider .right #education .boxIconHeader h3 {
            margin-left: 1rem;
            color: #152B39;
            font-family: 'Roboto', sans-serif;
            font-size: 1.9rem; }
        #summary .devider .right #education ul {
          margin-left: 5rem;
          margin-bottom: 2rem;
          font-family: 'Open Sans', sans-serif;
          color: #152B39; }
          #summary .devider .right #education ul li {
            margin: 0.3rem 0; }
            #summary .devider .right #education ul li span {
              font-weight: normal;
              font-size: 1rem;
              color: DimGray; }
          #summary .devider .right #education ul li:first-child {
            list-style-type: disc;
            font-weight: bold;
            font-size: 1.2rem; }
          #summary .devider .right #education ul li:nth-child(2) {
            font-weight: normal;
            font-size: 0.9rem;
            font-weight: bold; }
          #summary .devider .right #education ul li:nth-child(3) {
            color: DimGray;
            font-size: 0.9rem; }
      #summary .devider .right #proficiency {
        margin: 1rem 3rem; }
        #summary .devider .right #proficiency .boxIconHeader {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center; }
          #summary .devider .right #proficiency .boxIconHeader .boxIcon {
            color: white;
            background-color: #152B39;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 7px; }
          #summary .devider .right #proficiency .boxIconHeader h3 {
            margin-left: 1rem;
            color: #152B39;
            font-family: 'Roboto', sans-serif;
            font-size: 1.9rem; }
        #summary .devider .right #proficiency ul {
          margin-left: 4.5rem; }

/*# sourceMappingURL=summary.css.map */
