@import "sass/helper/variables";
@import "sass/helper/mixins";
@import "sass/helper/placeholders";

#summary {
  margin-top: 5rem;
  margin-bottom: 1rem;
  height: auto; // удалить!!!!
  display: flex;
  justify-content: center;
  align-items: center;
  .devider {
    width: 75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left {
      background-color: #152B39;
      width: 40%;
      //height: 600px;
      #mainFoto {
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .foto {
          width: 50%;
          height: 50%;
          margin: 20px 0;
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }
        }
        h2 {
          text-align: center;
          color: white;
          font-size: 1.8rem;
          font-family: 'Exo', sans-serif;
          span {
            font-weight: bold;
          }
        }
        h3 {
          text-align: center;
          color: white;
          font-size: 1.5rem;
          font-family: 'Exo', sans-serif;
          margin-top: 0.5rem;
        }
      }

      #profile {
        margin: 2rem 3rem;
        margin-top: 4rem;
        .boxIconHeader {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          .boxIcon {
            color: #152B39;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 7px;
            i {

            }
          }
          h3 {
            margin-left: 1rem;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 1.9rem;
          }
        }
        p {
          color: white;
          margin-left: 3.5rem;
          font-family: 'Open Sans', sans-serif;
          line-height: 1.4;
          font-size: 0.9rem;
        }
      }

      #contact {
        margin: 2rem 3rem;
        .boxIconHeader {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          .boxIcon {
            color: #152B39;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 7px;
            i {

            }
          }
          h3 {
            margin-left: 1rem;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 1.9rem;
          }
        }

        .boxIconHeaderChildContent {
          margin-left: 3.5rem;
          .boxIconHeaderChild {
            display: flex;
            flex-direction: row;
            align-items: center;

            .boxIcon {
              color: white;
              i {

              }
            }

            ul {
              margin: 0.7rem 0;
              margin-left: 0.7rem;
              color: white;
              li {
                font-family: 'Open Sans', sans-serif;
                line-height: 1.4;
                font-size: 0.9rem;
              }
            }
          }
        }
      }

      #professionalSkills {
        margin: 2rem 3rem;
        .boxIconHeader {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          .boxIcon {
            color: #152B39;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border-radius: 7px;
            i {

            }
          }
          h3 {
            margin-left: 1rem;
            color: white;
            font-family: 'Roboto', sans-serif;
            font-size: 1.9rem;
          }
        }
        ul {
          list-style-type: disc;
          color: white;
          li {
            margin-left: 4.5rem;
            font-family: 'Open Sans', sans-serif;
            line-height: 1.4;
            font-size: 0.9rem;
            margin-bottom: 0.5rem;
            span {
              margin-left: 0.5rem;
            }
          }
        }
      }
    } //end .left

    .right {
      margin-top: 2rem;
      width: 60%;
      height: 600px;
      #workExperience {
        margin: 1rem 3rem;
        margin-bottom: 3rem;
        .boxIconHeader {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          .boxIcon {
            color: white;
            background-color: #152B39;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 7px;
            i {

            }
          }
          h3 {
            margin-left: 1rem;
            color: #152B39;
            font-family: 'Roboto', sans-serif;
            font-size: 1.9rem;
          }
        }

        ul {
          margin-left: 5rem;
          margin-bottom: 2rem;
          font-family: 'Open Sans', sans-serif;
          color: #152B39;
          li {
            margin: 0.3rem 0;
            span {
              font-weight: normal;
              font-size: 1rem;
              color: DimGray;
            }
          }
          li:first-child {
            list-style-type: disc;
            font-weight: bold;
            font-size: 1.2rem;
          }
          li:nth-child(2) {
            font-weight: normal;
            font-size: 0.9rem;
            font-weight: bold;
          }
          li:nth-child(3) {
            color: DimGray;
            font-size: 0.9rem;
          }
        }
      }

      #personalSkills {
        margin: 1rem 3rem;
        margin-bottom: 3rem;
        .boxIconHeader {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          .boxIcon {
            color: white;
            background-color: #152B39;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 7px;
            i {

            }
          }
          h3 {
            margin-left: 1rem;
            color: #152B39;
            font-family: 'Roboto', sans-serif;
            font-size: 1.9rem;
          }
        }
        ul {
          margin-left: 4.5rem;
          li {

          }
        }
      }

      #education {
        margin: 1rem 3rem;
        margin-bottom: 3rem;
        .boxIconHeader {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          .boxIcon {
            color: white;
            background-color: #152B39;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 7px;
            i {

            }
          }
          h3 {
            margin-left: 1rem;
            color: #152B39;
            font-family: 'Roboto', sans-serif;
            font-size: 1.9rem;
          }
        }
        ul {
          margin-left: 5rem;
          margin-bottom: 2rem;
          font-family: 'Open Sans', sans-serif;
          color: #152B39;
          li {
            margin: 0.3rem 0;
            span {
              font-weight: normal;
              font-size: 1rem;
              color: DimGray;
            }
          }
          li:first-child {
            list-style-type: disc;
            font-weight: bold;
            font-size: 1.2rem;
          }
          li:nth-child(2) {
            font-weight: normal;
            font-size: 0.9rem;
            font-weight: bold;
          }
          li:nth-child(3) {
            color: DimGray;
            font-size: 0.9rem;
          }
        }
      }

      #proficiency {
        margin: 1rem 3rem;
        .boxIconHeader {
          margin-bottom: 0.5rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          .boxIcon {
            color: white;
            background-color: #152B39;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border-radius: 7px;
            i {

            }
          }
          h3 {
            margin-left: 1rem;
            color: #152B39;
            font-family: 'Roboto', sans-serif;
            font-size: 1.9rem;
          }
        }
        ul {
            margin-left: 4.5rem;
          li {

          }
        }
      }
    }//end .right
  }//end .devider
}
