body {
  display: flex;
  flex-direction: column;
  #paragraf {
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .devider {
      width: 75rem;
      h2 {
        text-align: center;
        margin: 2rem 0;
        font-size: 3rem;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
      }
      p {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2rem;
        line-height: 1.3;
        text-indent: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  #images {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .devider{
      width: 75rem;
      .sampleImages {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 2rem 0;
        img {
          width: 30%;
          height: 30%;
          margin: 1rem;
          border: 1px solid grey;
        }
      }
    }
  }

  #video {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .devider {
      width: 75rem;
      display: flex;
      align-items: center;
      justify-content: center;
      video {
        width: 95%;
        margin-bottom: 2rem;
        border: 1px solid grey;
      }
    }
  }

}
